name: Build

on:
  push:
  pull_request:
  
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '8.0.x'

    - name: Build
      run: dotnet build TalabatHackathon.sln /p:Configuration=Release
      
